<hr>
<div class="buttons jc-center">
    <button type="button" id="add" [disabled]="inputsCheck() === false" class="btn btn-dark" (click)="getOperation('a')">+</button>
    <button type="button" id="add" [disabled]="inputsCheck() === false" class="btn btn-dark" (click)="getOperation('s')">-</button>
    <button type="button" id="add" [disabled]="inputsCheck() === false" class="btn btn-dark" (click)="getOperation('m')">*</button>
    <button type="button" id="add" [disabled]="inputsCheck() === false" class="btn btn-dark" (click)="getOperation('d')">/</button>
   </div> 
<hr>
