<div class="container">
  <h1>{{title}}</h1>
    <div class="firstNumber">
      <label for="">First Number</label>
    </div>
    <div>
      <input (input)="getFirstNum(firstNumber.value)" id= "firstNumber" type="text" size="30px" #firstNumber/>
    </div>

  <br>

    <div class="secondNumber">
      <label for="">Second Number</label>
    </div>
    <div>
      <input (input)="getSecondNum(secondNumber.value)" id= "secondNumber" type="text" size="30px" #secondNumber/>
    </div>

  <hr/>

    <div class="buttons jc-center">
      <button type="button" id="add" class="btn btn-dark" [disabled]="!(firstNumber.value && secondNumber.value)" (click)="getSum()">+</button>
      <button type="button" id="sub" class="btn btn-dark" [disabled]="!(firstNumber.value && secondNumber.value)" (click)="getDifference()">-</button>
      <button type="button" id="mul" class="btn btn-dark" [disabled]="!(firstNumber.value && secondNumber.value)" (click)="getProduct()">*</button>
      <button type="button" id="div" class="btn btn-dark" [disabled]="!(firstNumber.value && secondNumber.value)" (click)="getQuotient()">/</button>
    </div>
  <hr/>

    <div id="res" *ngIf="(firstNumber.value && secondNumber.value)" >
      <output type="text" [value]="result"></output>
    </div>
</div>